---
import { getCollection } from "astro:content";

import Base from "../../layouts/Base.astro";
import Preview from "../../components/blog/Preview.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Base>
  <main class="px-3 py-2">
    <section>
      <ul class="auto-grid-300">
        {
          posts
            .reverse()
            .map((post) => <Preview {...post.data} slug={post.slug} />)
        }
      </ul>
    </section>
  </main>
</Base>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>

  <body class="drawer">
    <Header>
      <main>
        <section class="px-3">
          <ul class="auto-grid-300">
            {
              posts.reverse().map((post) => (
                <Preview {...post.data} slug={post.slug} />
              ))
            }
          </ul>
        </section>
      </main>
      <Footer />
    </Header>
  </body>
</html>
 -->
