---
import Layout from "$lib/layouts/Base.astro";
---

<Layout description="404 Page not found">
  <main class="grid place-items-center px-8 py-6">
    <div class="prose text-center">
      <h1>:(</h1>
      <p>
        <strong>404</strong>
        Page not found
      </p>
    </div>
  </main>
</Layout>
